In [1]:
import pandas as pd

data = {
    '이름' : ['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','송근열'],
    '학교' : ['구로고','구로고','구로고','구로고','구로고','단지고','단지고','단지고'],
    '키' : [197,194,168,187,188,202,188,190],
    '국어' : [90,50,60,88,75,83,100,72],
    '영어' : [85,63,77,93,38,86,99,55],
    '수학' : [100,88,56,84,99,28,86,49],
    '과학' : [95,49,88,28,100,95,84,76],
    '사회' : [84,58,93,57,96,58,86,59],
    'SW특기' : ['Python','Java','Javascript','','','C','PYTHON','c#']
}

In [5]:
df = pd.DataFrame(data)
df.set_index('키',inplace=True)

# index를 기준으로 정렬
df.sort_index(ascending=True,inplace=True)  # True: 순차행렬 ,False: 역순행렬
df

      이름   학교   국어  영어   수학   과학  사회        SW특기
키
168  강호림  구로고   60  77   56   88  93  Javascript
187  김수찬  구로고   88  93   84   28  57
188  김재욱  구로고   75  38   99  100  96
188  박혜정  단지고  100  99   86   84  86      PYTHON
190  송근열  단지고   72  55   49   76  59          c#
194  강태원  구로고   50  63   88   49  58        Java
197  강나래  구로고   90  85  100   95  84      Python
202  박동현  단지고   83  86   28   95  58           C